@model AlbumDetailsViewModel

<script>
    $(document).ready(async () => {
        await start();
        await getTechnicalInfoIcons(@Model.Album.Id);
        await getAlbumCover(@Model.Album.Id);
    })

    async function getTechnicalInfoIcons(albumId) {
        try {
            await connection.invoke("GetTechnicalInfoIcons", connection.connectionId, albumId);
        } catch (err) {
            console.log("Error sending request to GetTechnicalInfoIcons");
        }
    }

    async function getAlbumCover(albumId) {
        try {
            await connection.invoke("GetAlbumCover", connection.connectionId, albumId);
        } catch (err) {
            console.log("Error sending request to GetAlbumCover");
        }
    }

    connection.on("TechnicalInfoNotFound", () => {
        $('#noinfowarning').fadeIn(3000);
    });

    connection.on("TechnicalInfoFound", () => {
        $('#techinfoicons').fadeIn(500);
    });
    
    connection.on("ReceivedTechnicalInfoIcon", (category, cover) => {
        console.log(category, cover);
        $(`#${category}div`).fadeIn(1000);
        window.setTimeout(() => {
            $(`div[id=${category}div]`).attr("class", "");
            if (cover == '') {
                $(`div[id=${category}div]`).append("<i id='nocovericon' class='fa-regular fa-image fa-6x'></i>");
            } else {
                $(`img[id=${category}]`).css("display", "");
            }
        }, 1000);
        $(`img[id=${category}]`).attr("src", cover);
    });

    connection.on("ReceivedAlbumConverDetailed", (cover) => {
        if (cover == '') {
            $('#nocovericon').css("display", "");
            $('#coverspinner').css("display", "none");
            $('#coverdiv').css("border", "solid");
        } else {
            $('#cover').fadeIn(1000);
            $('#cover').css("display", "")
            $('#cover').attr("src", cover);
            $('#coverspinner').css("display", "none");
        }
    });

    function onRemove(albumId) {
        const request = new Request(`delete?id=${albumId}`, {
            method: "DELETE"
        });
        fetch(request).then((response) => {
            if (response.status === 200) {
                sessionStorage.setItem("albumdeleted", "1");
                window.location.href = "/album";
            }
            if (response.status === 400) {
                $('.toast').toast('show');
            }
        });
    };
</script>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toastmsg" class="toast-body">
            Some error during deletion
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Album data cannot be restored
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="onRemove(@Model.Album.Id)">Delete</button>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-secondary mt-3" asp-action="index" asp-controller="album">Back</a>
<div class="test mt-3">
    <div id="coverdiv" class="box1">
        <div id="coverspinner" class="spinner-grow text-light justifiy-element-size"></div>
        <i id="nocovericon"class="fa-regular fa-image fa-10x" style="top:30%; left:30%; position: relative; display: none"></i>
        <img id="cover" class="album-cover justifiy-element-size" style="display: none" />
    </div>
    <div class="box2">
        <a data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-trash fa-lg fa-pull-right"></i></a>
        <i class="fa-solid fa-pen-to-square fa-lg fa-pull-right"></i>
        <h1>@Model.Album.Artist.Data &mdash; @Model.Album.Data</h1>
        @if (Model.Album.Reissue == null)
        {
            <h5>@Model.Album.Year.Data (Reissue: @Model.Album.Reissue?.Data)</h5>
        }
        else
        {
            <h5>@Model.Album.Year.Data (Reissue: @Model.Album.Reissue.Data)</h5>
        }
        <h5>@Model.Album.Genre.Data</h5>
        <h5>@Model.Album?.Country?.Data</h5>
        <h5>@Model.Album?.Label?.Data</h5>
    </div>
    <div id="noinfowarning" class="mt-3" style="padding-left: 100px; display:none">
        <h1>
            <i style="color: brown">Technical information not found, unknown or not entered</i>
        </h1>
    </div>
    <div id="techinfoicons" class="technical-info" style="display: none">
        <div id="vinylstatediv" class="spinner-border justifiy-element-size" style="display: none">
            <img id="vinylstate" class="justifiy-element-size" style="display: none" />
        </div>
        <div id="digitalformatdiv" class="spinner-border justifiy-element-size" style="display: none">
            <img id="digitalformat" class="justifiy-element-size" style="display: none" />
        </div>
        <div id="bitnessdiv" class="spinner-border justifiy-element-size" style="display: none">
            <img id="bitness" class="justifiy-element-size" style="display: none" />
        </div>
        <div id="samplingdiv" class="spinner-border justifiy-element-size" style="display: none">
            <img id="sampling" class="justifiy-element-size" style="display: none" />
        </div>
        <div id="formatdiv" class="spinner-border justifiy-element-size" style="display: none">
            <img id="format" class="justifiy-element-size" style="display: none" />
        </div>
        <div id="devicediv" class="spinner-border justifiy-element-size" style="display: none">
            <img id="device" class="justifiy-element-size" style="display: none" />
        </div>
        <div id="cartridgediv" class="spinner-border justifiy-element-size" style="display: none">
            <img id="cartridge" class="justifiy-element-size" style="display: none" />
        </div>
        <div id="ampdiv" class="spinner-border justifiy-element-size" style="display: none">
            <img id="amp" class="justifiy-element-size" style="display: none" />
        </div>
        <div id="adcdiv" class="spinner-border justifiy-element-size" style="display: none">
            <img id="adc" class="justifiy-element-size" style="display: none" />
        </div>
        <div id="processingdiv" class="spinner-border justifiy-element-size" style="display: none">
            <img id="processing" class="justifiy-element-size" style="display: none" />
        </div>
    </div>        
</div>