@model IQueryable<Web.Models.Album>
<h4>Welcome to Digitezed Web Archive</h4>
<table border="1px">
    <tr pad>
        <th>Album</th>
        <th>Artist</th>
        <th>Added</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Reissue</th>
        <th>Country</th>
        <th>Size</th>
        <th>Label</th>
    </tr>
@foreach (var a in Model)
{
    <tr>
        <td>@a.Data</td>
        <td>@a.Artist.Data</td>
        <td>@a.AddedDate</td>
        <td>@a.Genre.Data</td>
        <td>@a.Year.Data</td>
        <td>@a.Reissue?.Data</td>
        <td>@a.Country?.Data</td>
        <td>@a.Size Mb</td>
        <td>@a.Label?.Data</td>
    </tr>
}
</table>