@model PostViewModel
<script>
    $(document).ready(async () => {
        await start();
    });

    let isChanged = true;

    setInterval(() => autoSave(), 3000);
    
    async function autoSave() {
        // if we have new changes
        if (isChanged) {
            isChanged = false;
            $("#spinnerbutton").prop("hidden", "");
            $("#savebutton").prop("disabled", true);
            try {
                await connection.invoke("AutoSavePost", connection.connectionId, @Model.Id, $("#title").val(), $("#description").val(), $("#content").val(), $("#category").val());
            } catch (err) {
                console.log("Error sending request to AutoSavePost");
            }
        }
    }

    connection.on("PostUpdated", (updatedDate) => {
        $("#spinnerbutton").prop("hidden", "true");
        $("#savebutton").prop("disabled", false);
        $("#updatedAt").text(updatedDate);
     });

    function onChange() {

        let title = $("#title").val();
        let description = $("#description").val();
        let content = $("#content").val();
        let category = $("#category").val();        

        if (title && description && content && category !== 'Category') {
            // enable save button
            $("#savebutton").prop("disabled", false);
            // enable autosaving
            isChanged = true;
            
        } else {
            // disable save button
            $("#savebutton").prop("disabled", true);
            // disable autosaving
            isChanged = false
        }
    }

    function onPreview() {
        $(".modal-body").html($("#content").val());
    }
</script>
<form method="post" asp-action="update" asp-controller="post">
    <input asp-for="Id" type="hidden" />
    <div class="post-container">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="post-buttons mt-2 mb-2">
            <label id="updatedAt"></label>
            <button class="btn btn-outline-dark" type="button" data-bs-toggle="modal" data-bs-target="#previewModal" onclick="onPreview()">
                Preview
            </button>
            <button id="savebutton" class="btn btn-outline-success" type="submit">
                <span id="spinnerbutton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Save
            </button>
        </div>
        <div class="input-group mb-2">
            <input id="title" type="text" class="form-control me-1" placeholder="Title" asp-for="@Model.Title" oninput="onChange()">
            <input id="description" type="text" class="form-control ms-1" placeholder="Description" asp-for="@Model.Description" oninput="onChange()">
            <select id="category" class="custom-select ms-1" asp-for="@Model.Category" onchange="onChange()">
                <option selected>Category</option>
                <option value="Developing">Developing</option>
                <option value="Releases">Releases</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <textarea id="content" class="form-control" rows="25" asp-for="@Model.Content" oninput="onChange()"></textarea>
    </div>
</form>
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>
